In [14]:
import requests
import json
import pandas as pd

In [3]:
api_url = "https://fakerapi.it/api/v2/addresses?_quantity=30"
try:
    # 2. Make the GET request to the API
    response = requests.get(api_url)
    
    # 3. Raise an exception for bad status codes (4xx or 5xx)
    response.raise_for_status()

    # 4. Parse the JSON response
    data = response.json()

    print(f"✅ Successfully retrieved {data['total']} addresses.\n")
    
    # 5. Print the first 5 addresses as an example
    print("--- First 5 Retrieved Addresses ---")
    
    # The 'data' field in the response contains the list of addresses
    for i, address in enumerate(data.get('data', [])):
        if i < 5:
            # Use json.dumps for a nicely formatted printout
            print(f"\nAddress {i + 1}:")
            print(json.dumps(address, indent=4))
        else:
            break
            
except requests.exceptions.RequestException as e:
    # Handle any request errors (network, timeout, HTTP errors)
    print(f"❌ An error occurred while fetching data: {e}")

✅ Successfully retrieved 30 addresses.

--- First 5 Retrieved Addresses ---

Address 1:
{
    "id": 1,
    "street": "39344 Jaren Alley Suite 024",
    "streetName": "Heaney Knolls",
    "buildingNumber": "577",
    "city": "New Lon",
    "zipcode": "48890",
    "country": "Botswana",
    "country_code": "BW",
    "latitude": -12.276902,
    "longitude": -151.848467
}

Address 2:
{
    "id": 2,
    "street": "39318 Christophe Squares",
    "streetName": "Unique Trail",
    "buildingNumber": "634",
    "city": "Norvalfurt",
    "zipcode": "63490",
    "country": "El Salvador",
    "country_code": "SV",
    "latitude": 34.683298,
    "longitude": 83.886462
}

Address 3:
{
    "id": 3,
    "street": "47361 Gregorio Hills",
    "streetName": "Oberbrunner Via",
    "buildingNumber": "55567",
    "city": "Osinskitown",
    "zipcode": "61520-1139",
    "country": "Cayman Islands",
    "country_code": "KY",
    "latitude": 0.933689,
    "longitude": -9.467113
}

Address 4:
{
    "id": 4,
    "street": "57452 Hayes Island Apt. 554",
    "streetName": "Mayer Springs",
    "buildingNumber": "3335",
    "city": "Eldridgehaven",
    "zipcode": "05673-8337",
    "country": "Grenada",
    "country_code": "GD",
    "latitude": 62.708751,
    "longitude": -142.062839
}

Address 5:
{
    "id": 5,
    "street": "6150 Jeanette Mall",
    "streetName": "Earlene Creek",
    "buildingNumber": "72444",
    "city": "Clementinafort",
    "zipcode": "20452",
    "country": "Croatia",
    "country_code": "HR",
    "latitude": -47.455695,
    "longitude": -69.802682
}

In [9]:
address_list = data.get('data', [])
df_addresses = pd.DataFrame(address_list)
df_addresses

,id,street,streetName,buildingNumber,city,zipcode,country,country_code,latitude,longitude
0,1,39344 Jaren Alley Suite 024,Heaney Knolls,577,New Lon,48890,Botswana,BW,-12.276902,-151.848467
1,2,39318 Christophe Squares,Unique Trail,634,Norvalfurt,63490,El Salvador,SV,34.683298,83.886462
2,3,47361 Gregorio Hills,Oberbrunner Via,55567,Osinskitown,61520-1139,Cayman Islands,KY,0.933689,-9.467113
3,4,57452 Hayes Island Apt. 554,Mayer Springs,3335,Eldridgehaven,05673-8337,Grenada,GD,62.708751,-142.062839
4,5,6150 Jeanette Mall,Earlene Creek,72444,Clementinafort,20452,Croatia,HR,-47.455695,-69.802682
5,6,373 Nickolas Lodge Apt. 809,Collins Motorway,6960,East Josiahtown,94550-1119,Iceland,IS,18.803450,28.994993
6,7,955 Bednar Stravenue Apt. 848,Raheem Expressway,11117,Vandervortchester,36383-8085,Micronesia,FM,46.706374,-114.335530
7,8,70213 Corwin Burg,Jast Turnpike,159,North Godfrey,59873-8733,São Tomé & Príncipe,ST,-41.988630,79.430144
8,9,99128 Cremin Ridge Suite 741,Bayer Ranch,7494,South Brody,84022-1787,Mongolia,MN,-67.736209,17.482652
9,10,1184 Allison Trafficway,Danielle Corner,17389,Ferminville,63905-1945,Japan,JP,-16.178310,24.406762
10,11,68136 Orn Flat Suite 069,O'Conner Valleys,88872,New Leliatown,42899-8801,Uzbekistan,UZ,-13.395179,-159.836955
11,12,1445 Raquel Forge Suite 888,Reichel Ford,829,East Donnellberg,08118,Israel,IL,-60.773943,-150.183579
12,13,187 Howe Loop Suite 920,Ondricka Lane,3936,Domenicafort,21512,São Tomé & Príncipe,ST,-15.857646,63.472246
13,14,7382 Legros Trafficway Suite 231,Jaylen Cliffs,1521,New Lucienneland,82383,North Korea,KP,-19.532814,-166.134418
14,15,9385 Lexus Causeway Suite 306,Stella Harbor,983,Waterston,70260-0443,Tajikistan,TJ,-82.778979,105.661943
15,16,28222 Laila Bridge Apt. 896,Brent Lodge,24345,Gerholdport,75459-4596,Myanmar (Burma),MM,6.107614,-154.546683
16,17,93387 Casper Parkways,Trisha Vista,52783,New Savanahland,15077-6569,Monaco,MC,76.797443,-126.109037
17,18,6298 Isaac Villages Apt. 384,Weissnat Unions,94414,New Gisselle,33218-3778,Ireland,IE,41.875750,62.409950
18,19,957 Lynch Drive Suite 443,Carolanne Courts,9948,Davisport,38281,Equatorial Guinea,GQ,32.006467,173.851938
19,20,51960 Green Common Apt. 118,Davion Ferry,6876,West Ludie,92412,Kenya,KE,39.667287,20.317445
20,21,300 Terry Valley Apt. 776,Jade Row,355,Lake Haylieshire,32917,Tajikistan,TJ,-26.890120,-127.359695
21,22,8603 Stanton Crescent Suite 993,VonRueden Corners,177,Kieranchester,57039,Austria,AT,9.132653,-39.858341
22,23,3017 Cronin Row Suite 952,Israel Pass,87385,Kreigerview,35338,Tokelau,TK,48.019868,89.868119
23,24,1804 Cole Station Apt. 278,Kemmer Island,539,Buckridgestad,22882,Syria,SY,23.396248,110.769297
24,25,53453 Rey Ports Apt. 832,Mitchell Drive,655,West Brady,24807,Australia,AU,69.882279,168.199906
25,26,793 Brooklyn Manors,Raymond Path,58693,East Fidel,85473,Yemen,YE,-51.658443,129.696509
26,27,20561 Jenkins Center Suite 231,Beatty Harbor,993,Llewellynborough,22377,Burkina Faso,BF,-86.091199,-143.010030
27,28,329 Ratke Courts Suite 225,Skiles Turnpike,907,Jacobsmouth,69773,Ethiopia,ET,69.674096,-41.733280
28,29,496 Cristobal Islands,Waters Club,454,East Brodyfort,11314-6053,Afghanistan,AF,72.323068,95.224515
29,30,985 Cummerata Cape,Lizeth Station,7488,East Kaylin,85124,Cuba,CU,-78.919690,-58.741975

In [18]:

import requests
import csv

api_key = "f0185960ee05a0cec9e33fb3d0ab9ff2"  # replace with your valid key
location = "muscat"
api_url = "https://api.openweathermap.org/data/2.5/weather"

# Send request with proper parameters
response = requests.get(api_url, params={"q": location, "appid": api_key, "units": "metric"})
data = response.json()

if response.status_code == 200:
    print("City:", data["name"])
    print("Temperature:", data["main"]["temp"], "°C")
    print("Weather:", data["weather"][0]["description"])
else:
    print("Error:", data.get("message", "Unknown error"))

City: Muscat
Temperature: 28.65 °C
Weather: clear sky

In [23]:
excel_file= "muscat_weather.xlsx"
df.to_excel(excel_file,index=False)
print(f"✅ Weather data saved to '{excel_file}'")

NameError: name 'df' is not defined

In [26]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl.metadata (7.7 kB)
Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
    --------------------------------------- 0.3/16.5 MB ? eta -:--:--
   -- ------------------------------------- 1.0/16.5 MB 3.1 MB/s eta 0:00:06
   ----- ---------------------------------- 2.4/16.5 MB 4.9 MB/s eta 0:00:03
   ----- ---------------------------------- 2.4/16.5 MB 4.9 MB/s eta 0:00:03
   --------------- ------------------------ 6.3/16.5 MB 6.8 MB/s eta 0:00:02
   ------------------- -------------------- 7.9/16.5 MB 7.1 MB/s eta 0:00:02
   ---------------------- ----------------- 9.4/16.5 MB 7.0 MB/s eta 0:00:02
   -------------------------- ------------- 11.0/16.5 MB 7.2 MB/s eta 0:00:01
   ----------------------------- ---------- 12.3/16.5 MB 7.0 MB/s eta 0:00:01
   --------------------------------- ------ 13.9/16.5 MB 7.1 MB/s eta 0:00:01
   ------------------------------------- -- 15.5/16.5 MB 7.1 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 7.1 MB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 6.8 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0
Note: you may need to restart the kernel to use updated packages.

In [30]:

import mysql.connector

def collect_data():
    # Connect to MySQL database (change these parameters accordingly)
    conn = mysql.connector.connect(
        host='localhost',          # or your MySQL server address
        user='root',      # your MySQL username
        password='CODE//muradi',  # your MySQL password
        database='MovieDB'         # your database name (as in your script)
    )

    cursor = conn.cursor()

    # Example query to collect all data from ProductionCompany table
    query = "SELECT * FROM ProductionCompany"

    cursor.execute(query)

    # Fetch all rows
    rows = cursor.fetchall()

    # Print rows or process them
    for row in rows:
        print(row)

    # Close cursor and connection
    cursor.close()
    if_name_=="_main_":
    collect_data()

SyntaxError: invalid syntax (1178515730.py, line 28)